In [2]:
import matplotlib.pyplot as plt  
import pandas as pd  
%matplotlib inline
import numpy as np
import io

from sklearn.cluster import DBSCAN
from sklearn.cluster import KMeans

from sklearn.preprocessing import StandardScaler

In [3]:
test = pd.read_csv('test.csv')

In [4]:
df = pd.read_csv('train.csv')
df.head()

,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted_NO
0,Caucasian,Female,[0-10),?,6,25,1,1,?,Pediatrics-Endocrinology,...,No,No,No,No,No,No,No,No,No,1
1,Caucasian,Female,[10-20),?,1,1,7,3,?,?,...,No,Up,No,No,No,No,No,Ch,Yes,0
2,AfricanAmerican,Female,[20-30),?,1,1,7,2,?,?,...,No,No,No,No,No,No,No,No,Yes,1
3,Caucasian,Male,[30-40),?,1,1,7,2,?,?,...,No,Up,No,No,No,No,No,Ch,Yes,1
4,Caucasian,Male,[40-50),?,1,1,7,1,?,?,...,No,Steady,No,No,No,No,No,Ch,Yes,1

In [5]:
data = df.sample(frac = 0.25)
data.head()

,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted_NO
8563,Caucasian,Female,[40-50),?,5,7,17,1,?,Family/GeneralPractice,...,No,No,No,No,No,No,No,No,No,0
31453,Caucasian,Male,[80-90),?,1,1,7,1,?,InternalMedicine,...,No,No,No,No,No,No,No,No,No,0
2223,Caucasian,Female,[60-70),?,6,1,7,3,?,?,...,No,Down,No,No,No,No,No,Ch,Yes,0
33696,AfricanAmerican,Female,[50-60),?,1,1,7,4,?,InternalMedicine,...,No,Down,No,No,No,No,No,Ch,Yes,1
62594,Caucasian,Female,[60-70),?,3,1,1,1,MC,Neurology,...,No,No,No,No,No,No,No,Ch,Yes,1

In [6]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
X_2 = data.apply(le.fit_transform)
X_2.head()

,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted_NO
8563,3,0,4,1,4,6,9,0,0,8,...,0,1,1,0,0,0,0,1,0,0
31453,3,1,8,1,0,0,6,0,0,15,...,0,1,1,0,0,0,0,1,0,0
2223,3,0,6,1,5,0,6,2,0,0,...,0,0,1,0,0,0,0,0,1,0
33696,1,0,5,1,0,0,6,3,0,15,...,0,0,1,0,0,0,0,0,1,1
62594,3,0,6,1,2,0,0,0,7,17,...,0,1,1,0,0,0,0,0,1,1

In [7]:
X = X_2.drop(['readmitted_NO'],axis =1)
y = X_2['readmitted_NO']

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state= 0)

In [8]:
from sklearn.cluster import AgglomerativeClustering

cluster = AgglomerativeClustering(n_clusters=2, affinity='euclidean', linkage='ward').fit(X)

In [ ]:
dbsc = DBSCAN(eps = .5, min_samples = 15).fit(X)

In [ ]:
y_pred2 = dbsc.fit_predict()
y_pred2

In [9]:
t2 = test.apply(le.fit_transform)
t2.head()

,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,index
0,3,0,8,1,1,2,6,5,8,4,...,0,1,0,0,0,0,0,1,0,0
1,3,0,4,1,0,0,6,1,4,0,...,0,0,0,0,0,0,0,0,1,1
2,3,1,5,1,2,0,0,0,4,0,...,0,1,0,0,0,0,0,1,1,2
3,3,0,5,1,0,0,6,2,7,7,...,0,1,0,0,0,0,0,0,1,3
4,3,1,8,1,1,2,6,4,8,4,...,0,0,0,0,0,0,0,0,1,4

In [ ]:
y_pred = cluster.fit_predict(t2)
y_pred

In [15]:
from sklearn.metrics import accuracy_score

s = accuracy_score(y_test, y_pred)
s

0.4850280723643169

In [17]:
sample = pd.read_csv('sample_sub.csv')
sample.dtypes

index     int64
target    int64
dtype: object

In [ ]:
df_soln = pd.DataFrame(data = [test['index'], y_pred], index = None)
df = df_soln.transpose()
df['index'] = df['index'].astype(int)
df.columns = ['soldierId','bestSoldierPerc']
df['target'] = df['target'].astype(int)
df.to_csv('soln 1.csv',index = False)

In [0]:
from sklearn.metrics import accuracy_score

x = accuracy_score(y_test, y_pred)