In [3]:
import matplotlib.pyplot as plt 
import seaborn as sns
import pandas as pd
import numpy as np

data = pd.read_csv('train.csv')
data.head()

,id,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,AveragePrice
0,12697,1620.45,102.47,788.49,0.00,729.49,720.00,9.49,0.00,0,2016,1.57
1,8052,6347964.79,3529761.56,1305030.08,18206.06,1494967.09,1296031.40,183062.26,15873.43,1,2017,0.74
2,10155,1313.43,97.10,905.10,0.00,311.23,121.72,189.51,0.00,0,2015,1.78
3,1320,2710710.15,531460.61,1328248.62,203932.87,647068.05,597061.79,48069.52,1936.74,1,2015,1.15
4,13668,9220.95,3417.54,3561.51,0.00,2241.90,580.64,1661.26,0.00,0,2016,2.13

In [4]:
x_train = data.drop(['year','AveragePrice','Total Bags'], axis = 1)
y_train = data['AveragePrice']

test = pd.read_csv('test.csv')
x_test = test.drop(['year','Total Bags'], axis = 1)

from sklearn.preprocessing import MinMaxScaler
m = MinMaxScaler()
df =data
m.fit_transform(df)

x_train01 = df.drop(['year','AveragePrice','Total Bags'], axis = 1)
y_train01 = df['AveragePrice']

In [ ]:
x_train01.shape
split = int(0.75*x_train01.shape[0])
tr_X = x_train01[:split]
tr_Y = y_train01[:split]
te_x = x_train01[split:]
te_Y = y_train01[split:]

In [5]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import explained_variance_score

def performance_metrics(y_true,y_pred):
    rmse = mean_absolute_error(y_true,y_pred)
    r2 = r2_score(y_true,y_pred)
    explained_var_score = explained_variance_score(y_true,y_pred)
    
    return rmse,r2,explained_var_score

NameError: name 'te_Y' is not defined

In [ ]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=700, n_jobs = -1)  
regressor.fit(tr_X,tr_Y)  
y_pred = regressor.predict(te_x) 

rmse,r2,explained_var_score = performance_metrics(te_Y,y_pred)

print("Root mean squared error:{} \nR2-score:{} \nExplained variance score:{}".format(rmse,r2,explained_var_score))

In [8]:
df_soln = pd.DataFrame(data = [test['id'], y_pred], index = None)
df = df_soln.transpose()
df['id'] = df['id'].astype(int)
df.columns = ['id','AveragePrice']
df.to_csv('soln 17.csv',index = False)